* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
h2 {
  background-color: darkgray;
  padding: 1em;
}

.main {
  width: 20em;
  margin: 5% auto;
  box-shadow: 5px 10px 20px #373737 inset;
  border-radius: 10px;
}

.form {
  border-radius: 1em;
  padding: 2em;
}

.form__input {
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 1em;
  height: 2em;
}

.form__btn {
  margin-top: 0.8em;
  height: 2em;
}

.form__input__error {
  color: red;
  font-weight: bold;
}

button:hover {
  background: gray;
  font-weight: bold;
  height: 2em;
  widows: 2em;
}

.btn {
  height: 2em;
  width: 5em;
}

::placeholder {
  font-weight: bold;
}
