body {
  margin: auto;
  padding: 0;
  color: hsl(232, 13%, 33%);
  font-family: 'Montserrat', serif;
}

.pricing {
  width: 80%;
  margin: auto;
  padding: 3% 4% 6% 4%;
  /* background-image: url("../images/bg-top.svg"), url("../images/bg-bottom.svg"); */
  background-position: top right, bottom left;
  background-repeat: no-repeat, no-repeat;
  background-size: 20%, 20%;
  background-color: hsl(240, 78%, 98%);
  font-size: 80%;
}

/* Toggle switch */

.toggle-container {
  width: 50%;
  margin: auto;
  text-align: center;
  color: hsl(234, 14%, 74%);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='checkbox'] {
  height: 2px;
  width: 2px;
  opacity: 0;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50px;
}

label {
  cursor: pointer;
  width: 45px;
  height: 25px;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  display: inline-block;
  border-radius: 25px;
  position: relative;
  margin: 0 3% 0 1%;
}

label::after {
  content: '';
  position: absolute;
  top: 2.5px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 20px;
  transition: 400ms;
}

input:checked + label::after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

/* Main */

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3%;
}

.pricing__plan {
  background-color: #ffff;
  width: 18%;
  margin: 2% 0;
  padding: 1% 3%;
  text-align: center;
  border-radius: 4%;
}
.pricing__plan--left {
  box-shadow: -0.5em 0.8em 1em hsla(236, 72%, 79%, 0.2);
}
.pricing__plan--middle {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: #ffff;
  margin: 0;
  padding-top: 3%;
}
.pricing__plan--right {
  box-shadow: 0.5em 0.8em 1em hsla(236, 72%, 79%, 0.2);
}

h2 {
  text-align: center;
  margin: 0 0 2% 0;
  padding: 0;
}

.price {
  width: 100%;
  font-size: 4vw;
  margin: 12% 0;
}
.price::before {
  content: '\0024';
  display: inline;
  font-size: 50%;
  vertical-align: middle;
  position: relative;
  right: 3.5%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 5% 0;
  border-top: 1px solid hsl(234, 14%, 74%);
  line-height: 100%;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.border-bottom {
  border-bottom: 1px solid hsl(234, 14%, 74%);
}

button {
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #ffff;
  color: #ffff;
  padding: 5%;
  margin: 5% 0;
  width: 100%;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  font-size: 80%;
  font-weight: 900;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 300ms;
}
button:active,
button:hover,
button:focus {
  border: 1px solid hsl(233, 13%, 49%);
  color: hsl(237, 63%, 64%);
  background: #ffff;
}
.button--middle {
  background: #ffff;
  color: hsl(237, 63%, 64%);
  transition: all 300ms;
}
.button--middle:active,
.button--middle:hover,
.button--middle:focus {
  background: none;
  color: #ffff;
}

.month {
  display: none;
}

/* Mobile */

@media (max-width: 700px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .pricing {
    width: 100%;
    padding: 5% 0;
    font-size: 5vw;
  }
  .pricing__plan {
    width: 80%;
    margin-bottom: 6%;
  }
  .price {
    font-size: 15vw;
  }
}
