:root {
  --primaryRed: hsl(0, 100%, 74%);
  --primaryGreen: hsl(154, 59%, 51%);
  --primaryGreen1: hsl(154, 67%, 49%);
  --accentBlue: hsl(248, 32%, 49%);
  --darkBlue: hsl(249, 10%, 26%);
  --grayishBlue: hsl(246, 25%, 77%);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.3;
  font-size: 16px;
  background-image: url(../images/bg-intro-mobile.png);
  background-color: var(--primaryRed);
}

.page-wrap {
  padding: 5em 0;
  width: 90%;
  max-width: 1224px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
}

.btn {
  text-align: center;
  border: none;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 1em 5em;
  background-color: var(--grayishBlue);
  font-size: 0.9em;
  border-radius: 5px;
  cursor: pointer;
}

/* Information section */
.information {
  color: #fff;
}

.title {
  font-size: 1.7em;
}

.introduction {
  font-size: 1em;
}

.text-bold {
  font-weight: bold;
}

/* Form section */

.form-btn {
  width: 100%;
  background-color: var(--accentBlue);
  box-shadow: 0 5px 0 0 #dc6567;
}

.form {
  background-color: #fff;
  padding: 2.5em;
  border-radius: 10px;
  box-shadow: 0 5px 0 0 #dc6567;
  margin-top: 1em;
}

.form-field {
  margin-bottom: 2em;
  text-align: right;
  position: relative;
}

.form input {
  position: relative;
  border-radius: 3px;
  width: 100%;
  padding: 1em;
  border: 1px solid #dedede;
  font-family: inherit;
  color: var(--darkBlue);
  font-weight: 500;
}

.form input:focus {
  outline: none;
  border-top: 1px solid var(--darkBlue);
  border-left: 1px solid var(--darkBlue);
  border-right: 1px solid var(--darkBlue);
}

.form .btn {
  width: 100%;
  background-color: var(--primaryGreen);
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  box-shadow: 0 3px 0 0 var(--primaryGreen1);
}

.form-terms {
  margin-top: 1em;
  display: inline-block;
  font-size: 0.8em;
  text-align: center;
  color: var(--grayishBlue);
}

.form-terms a {
  color: var(--primaryRed);
  text-decoration: none;
}

@media screen and (max-width: 959px) {
  .section-text {
    text-align: center;
    margin-bottom: 3em;
  }
}

@media screen and (min-width: 960px) {
  .page-wrap {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .information {
    width: 50%;
  }
  .title {
    font-size: 3em;
  }

  .introduction {
    margin-top: 1em;
  }

  .site-form {
    width: 40%;
  }
}

.icon-warning {
  color: red;
  display: inline-block;

  position: absolute;
  right: 1em;
  top: 50%;
  z-index: 20;

  transform: translateY(-50%);

  display: none;
}

input.input-error {
  border: 1px solid red;
}

.warning-span {
  font-style: italic;
  color: red;
  font-size: 0.8em;
  position: absolute;
  right: 0;
  bottom: -1.5em;
}
