.flex-container {
  display: flex;
  flex-direction: column;
  background-color: hsl(240, 78%, 98%);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  background-color: hsl(240, 78%, 98%);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.annually {
  margin-right: 20px;
}

.monthly {
  margin-left: 20px;
}

hr {
  color: #ffffff;
}

.card-basic {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 35px;
  font-size: 15px;
  box-shadow: 0 4px 6px hsl(0, 1%, 84%);
  z-index: 2;
  position: relative;
  width: 280px;
  height: 400px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.card-pro {
  background-color: #ffffff;
  padding: 20px;
  font-size: 15px;
  margin-bottom: 35px;
  box-shadow: 0 4px 6px hsl(0, 1%, 84%);
  z-index: 2;
  position: relative;
  width: 280px;
  height: 400px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.card-master {
  background-color: #ffffff;
  padding: 20px;
  font-size: 15px;
  margin-bottom: 35px;
  box-shadow: 0 4px 6px hsl(0, 1%, 84%);
  z-index: 2;
  position: relative;
  width: 280px;
  height: 400px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font: normal 15px;
  background-image: url(images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-color: hsl(240, 78%, 98%);
  background-size: auto 45vh;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media only screen and (min-width: 1000px) {
  .flex-container {
    flex-direction: row;
  }
  .card-pro {
    height: 430px;
  }
  .body {
    background-image: url(images/bg-top.svg), url(images/bg-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right top, left bottom;
    background-size: auto 70vh, auto 30vh;
  }
}

.learn-more-pro {
  background: #ffffff;
  color: hsl(233, 13%, 49%);
  margin-top: 15px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.01%;
  padding-bottom: 0.5em;
  font-size: 15px;
  box-shadow: 0 2px 6px hsl(0, 1%, 84%);
  z-index: 2;
  position: relative;
  width: 280px;
  height: 40px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.learn-more {
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  margin-top: 15px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.01%;
  padding-bottom: 0.5em;
  font-size: 15px;
  box-shadow: 0 2px 6px hsl(0, 1%, 84%);
  z-index: 2;
  position: relative;
  width: 280px;
  height: 40px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: white;
}

.learn-more:hover {
  background: white;
  cursor: pointer;
  color: hsl(233, 13%, 49%);
}

.learn-more-pro:hover {
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: #ffffff;
  cursor: pointer;
}

.grayish-blue {
  color: hsl(233, 13%, 49%);
}

.gray {
  color: rgb(121, 118, 118);
}

.white {
  color: hsl(0, 0%, 100%);
}

.light-Gray {
  color: hsl(234, 14%, 74%);
}

.gradient-card {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: rgb(255, 250, 250);
}
/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
