.head-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.headCard {
  background-color: #ffffff;
  margin-top: 25px;
  font-size: 15px;
}

.subCard {
  background-color: #ffffff;
  font-size: 15px;
  max-width: 300px;
  justify-content: center;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  .flex-container {
    flex-direction: row;
  }

  .blockMid {
    flex-direction: column;
  }

  .subCard {
    max-width: 450px;
  }
}

.card {
  background-color: #ffffff;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  box-shadow: 0 4px 6px hsl(0, 1%, 84%);
  z-index: 2;
  position: relative;
  width: 280px;
  height: 165px;
  border-radius: 5px;
}

.body {
  font-family: 'Poppins', sans-serif;
  font: normal 15px;
}

.heading {
  font-weight: 200;
  font-size: 25px;
}

.subHeading {
  font-weight: 600;
  font-size: 25px;
  color: rgb(80, 78, 78);
}

.caption {
  font-weight: 400;
  font-size: 15px;
  color: rgb(160, 155, 155);
}

.cardHeading {
  font-weight: 600;
  font-size: smaller;
  font-size: 15px;
  color: rgb(80, 78, 78);
  text-align: left;
}

.cardContent {
  font-weight: 400;
  font-size: 15px;
  color: rgb(160, 155, 155);
  text-align: left;
}

.imageBlock {
  float: right;
}

.imageBlock > img {
  width: 50px;
  height: auto;
}

.topBlueBorder {
  border-top: 5px solid hsl(212, 86%, 64%);
}

.topRedBorder {
  border-top: 5px solid hsl(0, 78%, 62%);
  margin-bottom: 1.5rem;
}

.topYellowBorder {
  border-top: 5px solid rgb(252, 231, 111);
  margin-bottom: 1.5rem;
}

.topCyanBorder {
  border-top: 5px solid hsl(180, 62%, 55%);
}
