* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.header {
  background-color: rgb(222, 236, 240);
  padding: 2em;
}

.is-valid {
  border: 2px green solid;
}

.is-invalid {
  border: 2px red solid;
}

button {
  background-color: #6d57cc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10px;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.main {
  width: 80%;
  margin: 5% auto;
  background-color: honeydew;
  box-shadow: 5px 5px 10px rgb(143, 181, 199);
  border-radius: 10px;
}

.form {
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  padding: 1.9em;
}

.detail {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
}

.detail__bar {
  margin-top: 1em;
  border: none;
}

.detail__input {
  outline: none;
  background: rgb(255, 255, 255);
  border-radius: 1em;
  padding: 1em;
  margin-top: 1em;
}

.red {
  background-color: red;
}

@media (max-width: 380px) {
  button {
    font-size: 0.5em;
  }
}
